---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h3> Seguidores </h3>


  <ul class="post-list">
    {%- for seguidor in site.seguidores -%}
    <li class="seguidores">
      <h3>
        <img src="{{ seguidor.foto | relative_url }}" alt="">
        <a class="post-link" href="{{ seguidor.url | relative_url }}">
          {{ seguidor.nome }} AKA ({{ seguidor.alcunha }})
        </a>
      </h3>
    </li>
    {%- endfor -%}
  </ul>


</div>