---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h3> Seguidores </h3>





  <div class="seguidores uk-child-width-1-3" uk-grid>
    {%- for seguidor in site.seguidores -%}
    <div>
      <div class="uk-card uk-card-secondary">
        <div class="uk-card-media-top">
          <div class="uk-cover-container uk-height-small">
            <img src="{{ seguidor.foto | relative_url }}" alt="" uk-cover>
          </div>
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title">
            <a href="{{ seguidor.url | relative_url }}">{{ seguidor.nome }}</a>
          </h3>
          <p>{{ seguidor.alcunha }}</p>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>


</div>